<h2>Sign In</h2>
<%= form_for @user, :url => sessions_url do |f| %>
  <p>
    <%= f.label :email, 'E-mail' %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
  </p>
  <p>
    <%= f.submit 'Sign In' %>
  </p>
<% end %>